.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.grid-wrapper {
  max-width: 40.5rem;
}

.grid {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  clear: both;
}

.sound-items {
  display: flex;
  justify-content: center;
  overflow: hidden;
  clear: both;
}

.sound-items > div {
  margin: 1rem 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > div {
  margin: 0 0.5rem;
}

.label-wrapper {
  display: flex;
  justify-content: center;
}

.label {
  position: absolute;
  font-size: 14;
  color: white;
}

.top {
  top: 0;
  margin-top: 0.5rem;
}

.right {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 1rem;
}

.bottom {
  bottom: 0;
  margin-bottom: 0.5rem;
}

.left {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: 1rem;
}

.preset-container {
  display: flex; 
  flex-direction: column; 
  justify-content: right;
  margin-left: 1rem;
}

.preset-container > div {
  margin: 0.5rem 0;
}

.noise-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
