.container {
  max-width: 40.5rem;
}

.grid {
  overflow: hidden;
  clear: both;
}

.sound-items {
  display: flex;
  justify-content: center;
  overflow: hidden;
  clear: both;
}

.buttons {
  display: flex;
  justify-content: center;
}
